@using Blazored.Video
@using Blazored.Video.Support

@if (isVideo)
{
	<video autoplay loop id="myVideo">
	 <source src="@itemLink" type="video/mp4">
	</video>
}
else
{
	<style>
	 body {
	  background: url("@itemLink") no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  overflow: hidden;
	 }
	</style>
}

@if (DebugMode.IsActive)
{
	<div class="debug">
		@if (driveFileList != null)
		{
		 <span>Debug mode.</span> <button @onclick="ShowNext">Next</button>
		 <ul>
		  <li>- Elapsed: @duration seg. (@(duration/60) min.) - @displayQueue.Count items in queue.</li>
		  <li>- Current: @itemLink</li>
		  <li>- @DebugMode.PictureCount shown so far.</li>
		  <li>- Start time: @startTime</li>
		  <li><u>Queue:</u></li>
				@foreach (var item in displayQueue)
				{
					if (item.Value.IsVideo)
					{
				  <li>
							@item.Key <Icon Name="Icon.IconType.CameraReels" />
							@item.Value.SourceUrl[item.Value.SourceUrl.IndexOf("=")..]
				  </li>
					}
					else
					{
				  <li>
							@item.Key <Icon Name="Icon.IconType.Picture" />
							@item.Value.SourceUrl[item.Value.SourceUrl.IndexOf("=")..]
				  </li>
					}
				}
		 </ul>
		}
	</div>
}
