@using Blazored.Video
@using Blazored.Video.Support

@if (string.IsNullOrEmpty(videoSrc))
{
	<style>
	 body {
	  background: url("@ItemLink") no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  overflow: hidden;
	 }
	</style>
}
else
{
	<BlazoredVideo oncanplay="this.muted=true" class="video"
			   autoplay
			   muted
			   loop>
	 <source src="@videoSrc" type="video/mp4" />
	</BlazoredVideo>
}

@*<BlazoredVideo oncanplay="this.muted=true"
			   autoplay
			   loop>
	 <source src="https://drive.google.com/uc?id=1cMEndCIL7mbb88hii_Xp7HhMqdEySCpT" type="video/mp4" />
	</BlazoredVideo>*@

@if (isDebugMode)
{
	<div class="debug">
		@if (driveFileList != null)
		{
		 <button @onclick="ShowNext">Next</button>
		 <ul>
		  <li><u>Queue:</u></li>
		  <li>- Elapsed: @duration seg. (@displayQueue.Count items)</li>
		  <li>- Current: @ItemLink</li>
				@foreach (var item in displayQueue)
				{
			  <li>@item.Key <img src="@item.Value" style="width:100px" /><br />@item.Value</li>
				}
		 </ul>
			@* <hr />
				<ul>
				<li><ul>Items:</ul></li>
				@foreach (var driveFile in driveFileList.items)
				{
				<li>@driveFile.webContentLink</li>
				}
				</ul>*@
		}
	</div>
}