@using Blazored.Video
@using Blazored.Video.Support

@if (isVideo)
{
	<video autoplay loop id="myVideo">
	 <source src="@itemLink" type="video/mp4">
	</video>
}
else
{
	<style>
	 body {
	  background: url("@itemLink") no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  overflow: hidden;
	 }
	</style>
}

@if (isDebugMode)
{
	<div class="debug">
		@if (driveFileList != null)
		{
		 <button @onclick="ShowNext">Next</button>
		 <ul>
		  <li><u>Queue:</u></li>
		  <li>- Elapsed: @duration seg. (@displayQueue.Count items)</li>
		  <li>- Current: @itemLink</li>
				@foreach (var item in displayQueue)
				{
					if (item.Value.IsVideo)
					{
				  <li>@item.Key <Icon Name="Icon.IconType.CameraReels" /><br />@item.Value.SourceUrl</li>
					}
					else
					{
				  <li>@item.Key <img src="@item.Value.SourceUrl" style="width:85px" /><br />@item.Value.SourceUrl</li>
					}
				}
		 </ul>
			@* <hr />
				<ul>
				<li><ul>Items:</ul></li>
				@foreach (var driveFile in driveFileList.items)
				{
				<li>@driveFile.webContentLink</li>
				}
				</ul>*@
		}
	</div>
}