@inject NavigationManager NavigationManager
<div id="imageBox">

    <video autoplay loop id="videoTop" class="videoloop @_videoTop.CssClass" muted="muted" style="object-fit:cover">
        <source id="videoTopSrc" src="@_videoTop.SourceUrl" type="video/mp4">
    </video>

    <video autoplay loop id="videoBottom" class="videoloop @_videoBottom.CssClass" muted="muted" style="object-fit:cover">
        <source id="videoBottomSrc" src="@_videoBottom.SourceUrl" type="video/mp4">
    </video>

    <img id="imgBottom" src="@_imgBottom.SourceUrl" class="@_imgBottom.CssClass" style="object-fit:@_imgBottom.Orientation" referrerpolicy="no-referrer" />
    <img id="imgTop" src="@_imgTop.SourceUrl" class="@_imgTop.CssClass" style="object-fit:@_imgTop.Orientation" referrerpolicy="no-referrer" />

</div>

@if (DebugMode)
{
    <div class="debug-mode">
        <button @onclick="LoadNextInBackground">Load next</button>
        <button @onclick="ShowNext">Show next</button>
        <table id="debug-items">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Orientation</th>
                    <th>File Size (KB)</th>
                </tr>
            </thead>
            <tbody id="debugInfo">
            </tbody>
        </table>
    </div>
}

@code {
    private void GotoSettings()
    {
        NavigationManager.NavigateTo("settings", true);
    }
}
